html { height: 100%; }

body {
   height: 100%;
   font-family: sans-serif;
   margin: 0px;
   padding: 0px;
}

div#content {
    width: 100%;
    text-align: center;
}

.ui-jqgrid {
    margin-left: auto;
    margin-right: auto;
}

.cmdline:before {
    color: #c00;
    content:"CMDLINE:";
    font-style: italic;
    position: absolute;
    left: -11em;
}

.cmdline {
    text-align: left;
    position: relative;
    left: 5em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    font-family: monospace;
}

.cmdline:first-line {
    position: relative;
    left: -10em;
}

#edit {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#edit th,td {
    text-align: left;
}

#flash {
    font-size: x-large;
    color: #c00;
    text-align: center;
    margin: 4px auto 4px auto;
    width: 60%;
    background-color: #ffa;
    border: 1px solid #000;
}

#header {
    text-align: center;
    width: 900px;
    margin: 0px auto 0px auto;
    padding: 0px;
}

#wrap {
    height: 100%;
}

#wrapper {
    width: 900px;
    background-color: #dde;
    margin: auto;
    padding: 0px;
    border: 0px;
    height: 100%;
}

#footer {
   position: absolute;
   bottom: 0px;
   width: 900px;
   height: 1.3em;
   background: #aab;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

#footer p {
    padding: 0px;
    margin: 0px;
}

