body {
   height: 100%;
   font-family: sans-serif;
}

div#content {
    width: 100%;
    text-align: center;
}

.ui-jqgrid {
    margin-left: auto;
    margin-right: auto;
}

.cmdline:before {
    color: #c00;
    content:"CMDLINE:";
    font-style: italic;
    position: absolute;
    left: -11em;
}

.cmdline {
    text-align: left;
    position: relative;
    left: 5em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
/*    white-space: pre;*/
    font-family: monospace;
}

.cmdline:first-line {
    position: relative;
    left: -10em;
}

#footer {
   position:absolute;
   bottom: 0px;
   left: 0px;
   width: 97.2%;
   height: 1.3em;
   background: #aab;
   padding: 2px 20px 2px 20px;
   margin: 0px;
   text-align: center;
}

#footer p {
    padding: 0px;
    margin: 0px;
}

#edit {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#edit th,td {
    text-align: left;
}
